.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.form {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.pokemons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  &__pokemon {
    width: calc(96% / 5);
    margin: 1% 1% 1% 0;
    &:nth-child(5n) {
      margin-right: 0;
    }
    @media screen and (max-width: 1280px) {
      width: calc(98% / 3);
      margin: 1% 1% 1% 0;
      &:nth-child(5n) {
        margin-right: 1%;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    @media screen and (max-width: 767px) {
      width: calc(99% / 2);
      margin: 1% 1% 1% 0;
      &:nth-child(5n) {
        margin-right: 1%;
      }
      &:nth-child(3n) {
        margin-right: 1%;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @media screen and (max-width: 500px) {
      width: 100%;
      margin: 1%;
      &:nth-child(5n) {
        margin-right: 1%;
      }
      &:nth-child(3n) {
        margin-right: 1%;
      }
      &:nth-child(2n) {
        margin-right: 1%;
      }
    }
  }
}

.button {
  margin: 20px auto;
  text-align: center;
}
