@import 'variables';

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: map-get($shadows, pokemon-card);
  border-radius: 5px;
  min-height: 200px;

  &__image {
    height: 150px;
    background-color: map-get($colors, pokemon-img-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__name {
    margin-top: 15px;
    text-transform: capitalize;
    font-weight: 700;
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0;
    width: 100%;
  }

  &__data {
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    &-value {
      margin-top: 5px;
      font-weight: 300;
    }
  }
}
