@import 'variables';

.header {
  background-color: map-get($colors, base);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__inner {
    max-width: 1280px;
    width: 100%;
  }
  &__logo {
    height: 55px;
  }
}
